@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

@section Scripts {
    <script src="@Url.Content("~/Scripts/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.src.js")" type="text/javascript"></script>   
}


@(Html.Grid("Basic")
    .SetCaption("Basic Grid")
        .AddColumn(new Column("AlbumId").SetLabel("Id"))
    .AddColumn(new Column("Title"))
    .AddColumn(new Column("ArtistName"))
    .AddColumn(new Column("GenreName"))
    .AddColumn(new Column("Price"))
    .AddColumn(new Column("AlbumArtUrl"))
    .SetUrl(Url.Action("GridDataBasic"))
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new[]{10,15,20,50})
    .SetViewRecords(true)
           .SetPager("pager"))
  