@model MusicStore.Models.Album

@{
    ViewBag.Title = "All";
}
<h2>All</h2>
<table id="list2"></table>
<div id="pager2"></div>

<!--
    <script type="text/javascript">
        jQuery("#list2").jqGrid({
            url: '/StoreManager/AllAlbums',
            datatype: "json",
            colNames: ['Title', 'Price'],
            colModel:[
                {name:'Title',index:'Title', width:200},
                {name:'Price',index:'Price', width:155}
            ],
            rowNum:10,
            rowList:[10,20,30],
            pager: '#pager2',
            sortname: 'Title',
            viewrecords: true,
            sortorder: "desc",
            caption:"JSON Example"
        });

        jQuery("#list2").jqGrid('navGrid', '#pager2', { edit: false, add: false, del: false });
</script> -->

<!--
    <script>

    var mydata = [
		{ id: "1", invdate: "2010-05-24", name: "test", note: "note", tax: "10.00", total: "2111.00" },
		{ id: "2", invdate: "2010-05-25", name: "test2", note: "note2", tax: "20.00", total: "320.00" },
		{ id: "3", invdate: "2007-09-01", name: "test3", note: "note3", tax: "30.00", total: "430.00" },
		{ id: "4", invdate: "2007-10-04", name: "test", note: "note", tax: "10.00", total: "210.00" },
		{ id: "5", invdate: "2007-10-05", name: "test2", note: "note2", tax: "20.00", total: "320.00" },
		{ id: "6", invdate: "2007-09-06", name: "test3", note: "note3", tax: "30.00", total: "430.00" },
		{ id: "7", invdate: "2007-10-04", name: "test", note: "note", tax: "10.00", total: "210.00" },
		{ id: "8", invdate: "2007-10-03", name: "test2", note: "note2", amount: "300.00", tax: "21.00", total: "320.00" },
		{ id: "9", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
		{ id: "11", invdate: "2007-10-01", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "12", invdate: "2007-10-02", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "13", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
		{ id: "14", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "15", invdate: "2007-10-05", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "16", invdate: "2007-09-06", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
		{ id: "17", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "18", invdate: "2007-10-03", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "19", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
		{ id: "21", invdate: "2007-10-01", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "22", invdate: "2007-10-02", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "23", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
		{ id: "24", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "25", invdate: "2007-10-05", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "26", invdate: "2007-09-06", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
		{ id: "27", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "28", invdate: "2007-10-03", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "29", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" }
	];

    jQuery("#list2").jqGrid({
        data: mydata,
        datatype: "local",
        height: 150,
        rowNum: 10,
        rowList: [10, 20, 30],
        colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
        colModel: [
   		{ name: 'id', index: 'id', width: 60, sorttype: "int" },
   		{ name: 'invdate', index: 'invdate', width: 90, sorttype: "date", formatter: "date" },
   		{ name: 'name', index: 'name', width: 100 },
   		{ name: 'amount', index: 'amount', width: 80, align: "right", sorttype: "float", formatter: "number" },
   		{ name: 'tax', index: 'tax', width: 80, align: "right", sorttype: "float" },
   		{ name: 'total', index: 'total', width: 80, align: "right", sorttype: "float" },
   		{ name: 'note', index: 'note', width: 150, sortable: false }
   	],
        pager: "#pager2",
        viewrecords: true,
        caption: "Manipulating Array Data"
    });
</script> -->

<script>
    var mydata = [
        { "Title": "Asd", "Price": 23.22 },
        { "Title": "efg", "Price": 23.22 }
    ];

    jQuery("#list2").jqGrid({
       url: '/StoreManager/AllAlbums',
       datatype: 'json',
       contentType: 'application/json',
       type: "GET",
       height: 150,
       rowNum: 10,
       rowList: [10, 20, 30],
       jsonReader: {
           root: "rows", //array containing actual data
           page: "page", //current page
           total: "total", //total pages for the query
           records: "records", //total number of records
           repeatitems: false,
           id: "AlbumId" //index of the column with the PK in it
       }, 
       colNames: ['AlbumId', 'Title', 'Price'],
       colModel: [
   		 { name: 'AlbumId', index: 'id', width: 60, sorttype: "int" },
         { name: 'Title', index: 'Title', width: 200 },
         { name: 'Price', index: 'Price', width: 155 }
   	    ],
       pager: "#pager2",
       viewrecords: true,
       caption: "Manipulating Array Data"
   });
   jQuery("#list2").jqGrid('navGrid', '#list2', { edit: false, add: false, del: false });

</script>
